{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="c-login">
        <div>
            <h1 class="">Login</h1>
        </div>
        <div>
            {# <label for="inputEmail">Email</label> #}
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div>
            {# <label for="inputPassword">Password</label> #}
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
        <div class="c-btn-login">
            <button class="btn-login" type="submit">
                <p>Do you have a account? Login here</p>
            </button>
            <a class="btn-login" href="{{ path('app_register') }}"><p>Are you new? Register here</p></a>
        </div>
    
    </div>
    
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
