{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="c-body">
    <div class="c-header">
        {# <div class="c-hello"> #}
            <h1>Hello {{ app.user.username }}!</h1>
        {# </div> #}
    </div>

    {{ include('nav/index.html.twig') }}
    <div class="c-main">
        {% if app.user.purchased or app.user.publishedbooks %}
            {% if app.user.publishedbooks %}
                <div>
                    {{ include('user/showPublishedBooks.html.twig') }}
                </div>
            {% endif %}
            {% if app.user.purchased %}
                <div>
                    {{ include('user/showBooks.html.twig') }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="c-footer">
    <div class="c-footer__cont">
        <h2>Contact details ...</h2>
    </div>
</div>
{% endblock %}
