{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="c-global-form">
    <div class="c-header-form">
        <h1>Register</h1>
    </div>
    <div class="c-ssrow-form">   
    {{ form_start(registrationForm) }}
        <p>{{ form_row(registrationForm.username) }}</p>
        <p>{{ form_row(registrationForm.surname) }}</p>
        <p>{{ form_row(registrationForm.email) }}</p>
        <p>{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <p>{{ form_row(registrationForm.balance) }}</p>
        <p>{{ form_row(registrationForm.image) }}</p>
        <p>{{ form_row(registrationForm.agreeTerms) }}</p>
    <button type="submit" class="btn"><p>Register</p></button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
