
<form method="post" action="{{ path('books_delete', {'id': book.id}) }}" {# onsubmit="return confirm('Are you sure you want to delete this item?');" #}>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn">
        <p>Delete<p>
    </button>
</form>
