<div class="c-global-form">
    <div class="c-ssrow-form">  
        {{ form_start(form) }}
            <p>{{ form_row(form.title) }}</p>
            <p>{{ form_row(form.image) }}</p>
            <p>{{ form_row(form.summary) }}</p>
            <p>{{ form_row(form.price) }}</p>
            <button class="btn"><p>{{ button_label|default('Save') }}</p></button>
        {{ form_end(form) }}
    </div>
</div>
