
<form method="post" action="{{ path('books_purchase', {'id': book.id}) }}" {# onsubmit="return confirm('Are you sure you want to buy this item?');" #}>
    <input type="hidden" name="_token" value="{{ csrf_token('purchase' ~ book.id) }}">
    <button class="btn">
        <p>Buy</p>
    </button>
</form>
