{% extends 'base.html.twig' %}

{% block title %}Edit Books{% endblock %}

{% block body %}
    {{ include('nav/index.html.twig') }}    
    <div class="c-showBookHeader">
    <h1>Edit Book</h1>
        {{ include('books/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('books/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
