{% extends 'base.html.twig' %}

{% block title %}Books index{% endblock %}
{% block body %}
    {{ include('nav/index.html.twig') }}
    <div class="c-showBooksMain">
        {% for book in books %}
            {% if book.author.id != app.user.id %}
                <ul class="showBooks_ul">
                    <li class="showBooks_li">
                        <a href="{{ path('books_show', {'id': book.id}) }}">
                            <img src="{{ book.image }}" alt={{book.title}}/>
                        </a>
                        {# <button class="btn" type="submit">
                            <a href="{{ path('user_show', {'id': book.author.id}) }}">
                                <p>Author</p>
                            </a>
                        </button> #}
                        <p>Price:{{ book.price }}</p>
                        {% if book.price < app.user.balance %}
                            {% if book not in app.user.purchased %}
                                {{ include('books/_sell.html.twig') }}
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
