{% extends 'base.html.twig' %}

{% block title %}New Books{% endblock %}

{% block body %}
{{ include('nav/index.html.twig') }}
    <div class="c-showBookHeader">
        <h1>Create new Book</h1>
        {{ include('books/_form.html.twig') }}
    </div>
{% endblock %}
