{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
{{ include('nav/index.html.twig') }}

    <div class="c-profile">
        <div class="c-img">
            <img src={{ book.image }} alt={{book.title}}/>
        </div>
            <p>{{ book.title }}</p>
            <a class="btn" href="{{ path('user_show', {'id': book.author.id}) }}"><p>Author:{{book.author.username}}</p></a>
            <p>Summary:{{ book.summary }}</p>
            {% if book.author.id == app.user.id %}
            <button class="btn" type="submit">
                <a href="{{ path('books_edit', {'id': book.id}) }}"><p>Edit</p></a>
            </button>
            {{ include('books/_delete_form.html.twig') }}
            {% else %}
            <p>Price:{{ book.price }}</p>
                {% if book.price < app.user.balance %}
                    {% if book not in app.user.purchased %}
                        {{ include('books/_sell.html.twig') }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
