

.c-global-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 20vh;
    & .c-header-form{
    }
    & .c-ssrow-form{
        & p{
            & input{
            }

        }
    }
}