.c-body {
  @include MarPadNone();

  & .c-header {
    background-image: url("https://wallpaperaccess.com/full/396070.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    & h1 {
      font-size: 60px;
      background-color: burlywood;
      padding: 5px;
      text-align: center;
    }
  }
  & .c-main {
  }
}

.c-footer {
  background-image: url("https://wallpaperaccess.com/full/396070.jpg");
  //background-image: url("https://ae01.alicdn.com/kf/HTB1IG_Fd0rJ8KJjSspaq6xuKpXaK/Burgundy-Wine-Color-Watercolor-photo-backdrop-Vinyl-cloth-Computer-print-wall-Photography-Backgrounds.jpg_q50.jpg");
  background-size: cover;
  min-height: 30vh;
  &__cont {
    color: rgba(110, 110, 110, 0);
    & h2 {
      @include MarPadNone();
    }
  }
}
