


.c-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    min-height: 100vh;
    &  input{
        margin-bottom: 10px;
        font-size: 20px;
    }
    & h1{
        color: cadetblue;
        font-style: italic;

    }
    .c-btn-login{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
        & .btn-login{
            background-color: cadetblue;margin: 5px;
            border-radius: 10px;
            @include DecoStylesNone();
            color: rgb(255, 255, 255);
            border: none;
            padding: 5px;
            & a{            
                & p{
                    @include DecoStylesNone();
                    @include MarPadNone();
                    font-size: 20px;
                }
            }
            
            & p{
                font-size: 20px;
                @include MarPadNone();
            }
        }
    }
    
}

