
@mixin MarPadNone{
    margin: 0px;
    padding: 0px;
}
@mixin DecoStylesNone{
    text-decoration: none;
    list-style-type: none;
}

body{
    @include MarPadNone();
}

.c-nav{
    @include MarPadNone();
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top:0%;
    left:0%;
    & a{
        @include MarPadNone();
        @include DecoStylesNone();
        color:rgb(27, 175, 168);
        margin:15px 5px;
        font-style: italic;
        font-size: 20px;
    }

}