

.c-header-profile{
    padding: 10px;
    text-align: center;
    background-color: black;
    & h1{
        @include MarPadNone();
        color: rgb(255, 255, 255);
        font-style: italic;
    }
}


.c-profile {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    min-height: 100vh;
  & .c-img {
      text-align: center;
    & img {
      width: 50%;
      border-radius: 100px;
    }
  }
  & p {
    text-align: center;
    color: rgb(206, 203, 55);
    font-size: 20px;
  }
}

.c-prof-book{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  & img{
    width: 100%;
    height: 500px;
  }
}