.c-showBookHeader{
    text-align: center;
    /* background-image: url("https://wallpaperaccess.com/full/396070.jpg"); */
    & h1{
        background-color: rgb(14, 128, 128);
        @include MarPadNone();
        font-style: italic;
        padding: 10px ;
        font-size: 50px;
        
    }
}

.c-showBooksMain{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    & .showBooks_ul{
        @include MarPadNone();
        margin:30px;
        text-align: center;
        & .showBooks_li{
            & p{
                color: aquamarine;
                font-size: 20px;
            }
            & img{
                width: 100%;
                height: 60vh;
                border-radius: 15px;
            }
        }   
    }
}

.link-path{
    @include MarPadNone();
    background-color: rgb(37, 37, 37);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    & a{
        max-width: 300px;
        border-radius: 15px;
        @include MarPadNone();
        @include DecoStylesNone();

        & p{
            @include MarPadNone();
            background-color: rgb(0, 0, 0);
            color: cadetblue;
            text-align: center;
            font-size: 30px;
        }
    }
}

.btn{
    @include DecoStylesNone();
    @include MarPadNone();
    background-color: rgb(0, 0, 0);
    color:darkcyan;
    margin: 10px;
    & a{
        @include DecoStylesNone();
        & p{
            @include MarPadNone();
            padding: 1px;
            background-color: black;
            color: cadetblue;
        }
    }
    & p{
        @include MarPadNone();
        background-color: black;
        color: cadetblue;
    }
}

/* .user-icon{
    max-width: 70px;
    max-height: 70px;
} */