
<div class="c-global-form">
    <div class="c-ssrow-form"> 
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.balance) }}
            {{ form_row(form.image) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>
