{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
{{ include('nav/index.html.twig') }}
<div class="c-showBookHeader">
    <h1>Edit Profile</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('user/_delete_form.html.twig') }}
<div>
{% endblock %}
