{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{{ include('nav/index.html.twig') }}
    <div class="c-showBooksMain">
        {% for user in users %}
            {%if user.id != app.user.id %}
                <ul class="showBooks_ul">
                    <li class="showBooks_li"> 
                        <a href="{{ path('user_show', {'id': user.id}) }}">
                            <img class="user-icon" src={{user.image}} alt="user-img"/>
                        </a>
                        <p>{{ user.username }}</p>
                    </li>
                </ul>
            {%endif%}
        {% else %}
            <ul>
                <li>no records found</td>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
