{% extends 'base.html.twig' %}

{% block title %}Show User´s Books{% endblock %}

{% block body %}
    <div class="c-showBookHeader">
        <h1> Your Library </h1>
    </div>
    <div class="c-showBooksMain">
        <div class="link-path"> 
            <a href="{{ path('books_index') }}">
            <p>Add some Books</p>
            </a>
        </div>
        {% for book in app.user.purchased %}
        <ul class="showBooks_ul">
            <li class="showBooks_li">
                <a href="{{ path('books_show', {'id': book.id}) }}">
                    <img src={{book.image}} alt={{book.title}}/>   
                </a>                   
            </li>
        </ul>
        {% endfor %}       
    </div>
{% endblock %}