{% extends 'base.html.twig' %}

{% block title %}Show Book´s Published by User{% endblock %}

{% block body %}
    <div class="c-showBookHeader">
        <h1> Your books </h1>
    </div>
    <div class="c-showBooksMain">
        <div class="link-path">
            <a href="{{ path('books_new', {'id': app.user.id}) }}">
                <p>Publish a Book</p>
            </a>
        </div>
        {% for book in app.user.publishedbooks %}
            <ul class="showBooks_ul">
                <li class="showBooks_li">
                    <a href="{{ path('books_show', {'id': book.id}) }}">
                        <img src={{book.image}} alt={{book.title}}/>
                    </a>
                </li>
            </ul>
        {% endfor %} 
    </div>
{% endblock %}