{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
{{ include('nav/index.html.twig') }}
    {% if user.id == app.user.id %}
    <div class="c-header-profile"><h1> Profile </h1></div>
    {% else %}
    <div class="c-header-profile"><h1> {{user.username}}´s profile </h1></div>
        
    {% endif %}
    <div class="c-profile">
        <div class="c-img">
            <img src="{{ user.image }}" alt="face-img"/>
        </div>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        {% if user.id == app.user.id %}
        <p>Balance:{{ user.balance }}</p>
            <button class="btn" type="submit">
                <a  href="{{ path('user_edit', {'id': user.id}) }}"><p>Edit profile<p></a>
            </button>
            <button  class="btn" type="submit">
                <a href="{{ path('app_logout') }}"><p>Logout<p></a>       
            </button>
        {% else %}
            <div>
                <p>{{user.surname}}´s published books!</p>
            </div>
            <div class="c-prof-book">
                {% for book in user.publishedbooks %}
                    <div>
                        <img src={{book.image}} alt={{book.title}}/>
                        <p>{{book.title}}<p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>
        
{% endblock %}
