{% extends 'base.html.twig' %}

{% block title %}Hello NavController!{% endblock %}

{% block body %}
<div class="c-nav">
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('user_index') }}">Community</a>
    <a href="{{ path('books_index') }}">Library</a>
    <a href="{{ path('user_show', {'id': app.user.id}) }}">Profile</a>
    {# <a href="{{ path('app_logout') }}">Logout</a> #}
    {# <a href="{{ path('books_new', {'id': app.user.id}) }}">Publish new book</a> #}
    {# <a href="{{ path('user_showBooks', {'id': app.user.id}) }}">My Library</a> #}
    {# <a href="{{ path('user_showPublishedBooks', {'id': app.user.id}) }}">My Books</a> #}
</div>
{% endblock %}
